[2018-01-30 17:31] git-albertomarin opened #4 "Is there a way to filter results?"
Do you have a way to filter queries? I understand that the graphene-django project relied on django-filter for query filtering. Is there something similar already implemented in this project?

I am trying to perform the following query:

[code]

[2018-01-31 05:57] abawchen commented on #4
@git-albertomarin : I am still working on it, and hope it can be resolved soon.

[2018-01-31 14:48] abawchen commented on #4
@git-albertomarin

Now you can refer https://github.com/abawchen/graphene-mongo/blob/master/graphene_mongo/tests/test_query.py#L296 for the basic filtering, and I do not worked on other filter usage but only `=` comparison at this moment.

Feel free to feedback or submit other issues.

[2018-02-24 11:28] mehdiym opened #10 "Self referencing model"
Hello and thx for your lib,

I'd like to self-reference a model, but I'm not sure how to do it as I'm quite new to Python, what I do is:

[code]

But I get an `AttributeError: 'NoneType' object has no attribute '_type'` in `python3.6/site-packages/graphene_mongo/converter.py`

Am I doing it wrong or is it not possible?

[2018-02-25 13:41] abawchen commented on #10
@mehdiym:
It's a good point!

Graphene-Mongo does not support self-reference yet, and I am working on it now. Hope I can get back to you soon.

[2018-02-27 04:31] abawchen opened #12 "The one2many relationship would return all records in db if no specified"
`models`
[code]
`fixture`
[code]

`query`
[code]

Now it returns all articles from db under `Michael Jordan` player node :(

[2018-02-27 04:34] abawchen commented on #10
@mehdiym : The feature is supported on the updated `master` or `pypi 0.1.4`, but I find another issue #12 during the self-reference implementation :(

Please let me know if you need anything of self-reference, if not, I will close this one, and will fix above issue in another pull request.

Thanks.

[2018-02-27 08:19] mehdiym commented on #10
Thank you @abawchen it works great now :)
As I'd like to have friends specific fields (eg. affinity score), next thing I'll need is the support for list of embedded docs. Keep up the good work.

[2018-02-27 08:35] #10 closed

[2018-03-01 04:40] abawchen commented on #10
@mehdiym : I am glad to notify you the version `0.1.5` is supporting ListField(EmbeddedDocumentField) now.

Your request makes me more productive. :stuck_out_tongue_winking_eye:

[2018-03-01 09:13] mehdiym commented on #10
Wow, you did it fast, thank you very much. I'll try that soon (it's a personal project on my spare time, for now anyway)

[2018-03-07 04:31] bwalsh opened #14 "Can't query by id?"
Thanks for a great library.

After starting examples/flask_mongoengine :
I expected I would be able to query by id?
I'm unable to query by id, but can query by name

[code]

[code]

[2018-03-07 14:29] abawchen commented on #14
@bwalsh: Thanks for addressing this issue!

I am working on it and will get you back soon.

[2018-03-08 08:28] abawchen commented on #14
@bwalsh
Now you can filter by global id with `v0.1.7` or master branch.
I close this first, if any problem I will re-open it.

[2018-03-08 08:28] #14 closed

[2018-03-09 19:08] bwalsh commented on #14
@abawchen 👍  works great

[2018-03-20 11:47] #4 closed

[2018-03-25 02:27] vectorhacker opened #20 "Slicing for last n nodes is broken"
Using the slicing pagination for getting the first n items works, but asking for the last n doesn't. Doing this query for example works:
[code]

You get a result like this
[code]

But doing this query breaks:

[code]

and give  you something like this

[code]

[2018-03-25 02:33] vectorhacker opened #21 "Add support before and after on Pagination and Edges."
Support for filtering edges on based on cursors. Currently the libarary returns an error when you ask it something like this:

[code]
It will return this kind of error
[code]

[2018-03-26 02:28] abawchen commented on #20
@vectorhacker : Thanks for fixing!

[2018-03-26 02:28] #20 closed

[2018-03-26 02:28] abawchen commented on #21
@vectorhacker : Thanks for fixing!

[2018-03-26 02:28] #21 closed

[2018-03-26 04:49] vectorhacker commented on #20
actually fixed in pull request #23

[2018-04-01 13:42] msholty-fd opened #24 "Types are unaware of parent class attributes defined on child model"
First of all, thank you for writing this library. I've been wanting to try GraphQL out with my current project but didn't want to have to create an entire new backend application from scratch. I can reuse my existing models thanks to this library, way cool 👍 🥇

Now for my issue...

I have a parent/child relationship defined like this:

[code]

When I defined my schema and attempt to query against

[2018-04-01 18:58] msholty-fd opened #25 "Querying based on value of ReferenceField"
I have a model defined like so:
[code]

If I set up my schema like this:
[code]

Should I be able to query for `Foo` with `parent` equal to the id of a `Bar`? Example query:

[code]

[2018-04-02 13:59] abawchen commented on #24
@msholty-fd
Thanks for addressing this issue, which is a great feature I just missed before.
It's now on `0.1.10` and `master` branch as well.

Feel free to re-open it if any problem.

[2018-04-02 13:59] #24 closed

[2018-04-04 06:52] noodlespace opened #27 "Returning a single object in graphene.field"
I am new to graphql and grahene
I am attempting to hydrate a MongoengineObjectType from my resolve method

I have a few pre-defined filter rules that need to run before I can return the data, but I cant seem to return the model itself

`
class UserNode(MongoengineObjectType):
    class Meta:
        model = User

class Query(graphene.ObjectType):
    user = graphene.Field(UserNode, id=graphene.Str

[2018-04-24 05:04] #25 closed

[2018-04-24 05:39] abawchen commented on #25
@msholty-fd
Now we have this feature both on `master` or `v0.1.12`.
Feel free to reopen it if any question.

[2018-05-02 15:03] KCarretto opened #30 "Support for default mutations"
Are there any plans to add support for simple create / update / delete mutations? It seems like you could view the fields associated with a Mongoengine Document and automatically build the arguments to a graphene mutation, instead of needing to manually write one for each object. Thoughts on this?

[2018-05-02 19:59] KCarretto commented on #30
I was able to achieve this functionality using code such as:

[code]

Although currently you still must explicitly define arguments. If this feature is desired I can submit a PR :)

[2018-05-02 22:14] KCarretto commented on #30
**Update:** I ended up needing to return type instead, otherwise it was treated as the same object each time. Here's the new code that works (so far) with more than one model:

[code]

[2018-05-03 03:00] abawchen commented on #30
@KCarretto : Thanks for the input! It's a good feature 👍 , and I assign this one to you :stuck_out_tongue:

Btw, please add the corresponding test case to make sure it works.

[2018-05-15 00:06] zrlay commented on #30
I've got some working code that overlaps this issue but don't have time this month to publish it! @abawchen, if you are diving into this, I have some insights you might consider:

For the case of embedded documents, an input registry is extremely useful (also might want to consider using input objects instead of direct kwargs). To automatically generate an InputObject, we're using:

[code]
We're c

[2018-05-29 04:40] atbe opened #32 "Not able to request EmbeddedDocumentField in query"
Hi,

I have the following models:

[code]

And setup a schema like so

[code]

And a sample of the object in the database:

[code]

However with this setup, I am not able to run the following query in graphiql:

[code]

I get the following error:

[code]

What's the issue with `EmbeddedDocumentField`? Does `graphene-mongo` support this kind of embedded document? Any help would be appreciated.

Tha

[2018-05-29 07:40] abawchen commented on #32
@atbe : Thanks for the feedback 👍

I think I have covered embedded document query already, you can refer following test case I just finished (and it's merged into master just as well)
https://github.com/graphql-python/graphene-mongo/pull/33/files#diff-ebf89c260b02c988b3c36c1cdd0d8463R232

Ping me if you have any question 😃

[2018-05-29 13:10] abawchen commented on #32
@atbe: I think I know why your query did not work :(

We have to declare `ProfessorMetadata` before `ProfessorVector`, say in your schema:

[code]

only that metadata could be resolved.

You can say it is by-design or the limitation of `graphene-mongo`, since currently it can't resolve reference model if not declared before.

[2018-05-29 13:43] atbe commented on #32
@abawchen eureka! That looks to be what my issue was. I wasn't aware that I should declare embedded documents, thanks for clearing that up.

[2018-05-29 13:43] #32 closed

[2018-06-05 09:31] abawchen commented on #30
@KCarretto & @zrlay

I end up creating a pull request by myself, which takes  part of you guys suggestion (implemented in [mutation.py](https://github.com/graphql-python/graphene-mongo/pull/36/files))

There are 2 things I want to bring up:
- The `Arguments` can be auto-generated by model's fields (with `only_fields`, `excluded_fields`)
- I have not take `EmbeddedDocument` and `MongoengineInputObj

[2018-06-13 01:56] KCarretto commented on #30
@abawchen Thanks for the PR, sorry I couldn't get around to it. I'll try to make time to check it out later this week.

[2018-06-17 22:46] SoyYoRafa opened #37 "edges & node attributes in result set"
Hi,
I am wondering why there is an edges and nodes attributes in the result set? It seems to break the concept of being able to have a consistent object model, query language and result set.

[2018-06-22 00:37] abawchen commented on #37
Hi,
You can refer https://stackoverflow.com/questions/42622912/in-graphql-whats-the-meaning-of-edges-and-node or https://dev-blog.apollodata.com/explaining-graphql-connections-c48b7c3d6976 for the connection in the GraphQL.

[2018-07-13 09:07] ahmad88me opened #40 "unable to install via pip - Some packages may not be found!"
Error:
Download error on https://pypi.python.org/simple/pytest-runner/: EOF occurred in violation of protocol (_ssl.c:590) -- Some packages may not be found!
    Couldn't find index page for 'pytest-runner' (maybe misspelled?)

I resolved the problem by:
1. I have to go to https://pypi.org/simple/pytest-runner/
2. download pytest_runner-4.2-py2.py3-none-any.whl
3. run pip install ./pytest_runner-4

[2018-07-16 01:40] #12 closed

[2018-07-16 01:57] abawchen commented on #40
@ahmad88me

Would you please provide your python, pip version and os as well? Since I can't reproduce it on my side.

[2018-07-16 03:21] #37 closed

[2018-07-16 08:00] ahmad88me commented on #40
Sure,
pip 10.0.1
Python 2.7.10
MacOS 10.12.6

[2018-07-16 14:48] FloatingGhost opened #42 "Bidirectional relationships require a specific load order"

[2018-07-16 14:54] FloatingGhost opened #43 "Bidirectional relationships require a specific load order"
Using the following script as a test case

If `Parent` is registered before `Child`, when extracting types from `Parent.Meta.model` no type corresponding to `ReferenceField("ChildModel")` will be found in the registry, leading to the `children` attribute to be unqueryable.

If `Child` is registered before `Parent`, however, this issue does not arise.

The point of lazy field loading is to avoid th

[2018-07-16 14:55] FloatingGhost commented on #42
dupe, sorry

[2018-07-16 14:55] #42 closed

[2018-07-19 07:19] #43 closed

[2018-07-29 09:55] illeatmyhat opened #45 "Use of DataLoader to solve exorbitant query times"
There's a dramatic reduction in query performance when using GraphQL with graphene-mongo, as opposed to a regular REST API doing something like `list(collection.objects.all())` and sending the entire document set. From 300ms to over 6 seconds to retrieve one field from 100 elements.

I believe that using the DataLoader pattern is the expected solution to the N+1 problem, but actually attempting to

[2018-07-30 22:25] jobevers opened #47 "Why is BooleanField non-null?"
I had a model:

[code]

and was getting an error about "Cannot return null for non-nullable".  It seemed that it didn't matter if I set null=True, null=False.  Digging into this, I found:

https://github.com/graphql-python/graphene-mongo/blob/fbdd3e2b75ae11f0af1d21cde20588a8bbcad7e1/graphene_mongo/converter.py#L39-L41

Why is this?

[2018-07-31 22:49] jobevers opened #48 "Please explain the is_filterable logic"
I'm confused by this code:

https://github.com/graphql-python/graphene-mongo/blob/fbdd3e2b75ae11f0af1d21cde20588a8bbcad7e1/graphene_mongo/fields.py#L74-L77

It seems to me that this test is basically just seeing if the field is a graphene structure (https://github.com/graphql-python/graphene/blob/43aec720a851a7a8e9d3e3a06b96b9a61232a5e7/graphene/types/structures.py), or, really, a NonNull.

Is the

[2018-08-18 15:48] marvinkome opened #49 "Cannot return null for non-nullable field Type.field."
If I create add a new field and the field is null, it leads to an error in
```Cannot return null for non-nullable field Type.field.```

In my model, I didn't set required to true for that field. After inspecting I found this in converter.py
```String(description=field.db_field, required=not field.null)```
which sets all field to required.

[2018-08-18 16:52] marvinkome commented on #10
This doesn't work though
[code]
i don't really understand why.
it shows field doesn't exist in graphqli

[2018-08-24 16:54] KimMatt opened #50 "Filters for Nested Documents Via Relay Does Not Filter Properly"
Filtering works for a base document to a query. But when filtering by a property for a nested document, the query returns all results regardless of the argument value.

Example.

Schema.py
[code]

Model.py
[code]

Query that fails:
[code]

The first argument to graphs filters properly. But the second argument does not filter at all, because all results are returned.

Result:
[code]

Here is the pr

[2018-08-30 06:36] abawchen commented on #49
@marvinkome

Thanks for addressing this issue, and you are welcome to create a PR to make it work.

[2018-08-30 06:37] #47 closed

[2018-08-30 07:47] #40 closed

[2018-09-05 00:58] crunk1 commented on #49
I'm starting on a PR. Naively replacing `not field.null` with `field.required` results in two test failures:

[code]

and

[code]

Working on resolving these now, but definitely send any insights my way -- first time working in this codebase :)

[2018-09-06 02:15] #49 closed

[2018-09-18 16:14] jobevers commented on #48
Thanks!

[2018-09-18 16:14] #48 closed

[2018-10-23 18:38] cherls opened #54 "DateTimeField resolve to graphene `Date` Scalar."
Have the DateTimeField field in MongoEngine automatically resolve to a graphene scalar.

[2018-10-24 05:35] abawchen commented on #54
Now it has been convert to `graphene.DateTime` in `0.1.17`

[2018-10-24 05:35] #54 closed

[2018-10-25 01:29] abawchen commented on #50
@KimMatt, thanks for addressing this issue :)

Regarding your query example:
[code]

[2018-11-01 21:31] KimMatt commented on #50
I would expect number one

[code]

[2018-11-09 17:04] mtech2008 opened #56 "Does not support PointField"
model using PointField raises an error
Exception: Don't know how to convert the MongoEngine field <mongoengine.fields.PointField object at 0x04365090> (<class 'mongoengine.fields.PointField'>)

[2018-11-10 05:48] mtech2008 opened #57 "AttributeError: 'NoneType' object has no attribute '_type'"
I am receiving an error  node = kv[1].get_type()._type._meta
AttributeError: 'NoneType' object has no attribute '_type'

when I am using "EmbeddedDocument(LatLang)"

class LatLng(EmbeddedDocument):
    lat = FloatField()
    lng =  FloatField()

class User(Document):
    email = StringField(required=True)
    first_name = StringField(max_length=50)
    last_name = StringField(max_length=50)
    lo

[2018-11-16 09:36] #56 closed

[2018-11-16 09:38] abawchen commented on #56
@mtech2008 : Solved at maser and `0.1.8` by #58

[2018-11-20 10:47] riverfr0zen opened #59 "What does "default_query" in flask_mongoengine example do?"
In the [flask mongoengine example](https://github.com/graphql-python/graphene-mongo/blob/master/examples/flask_mongoengine/app.py), in app.py, a 'default_query' is declared.

I had assumed that there was some magic in the background that would cause this default query to be populated by default when the graphiql view is requested from the browser.

However, this doesn't happen in my implementation

[2018-11-28 13:24] mtech2008 opened #60 "Supoort for FileField"
Please add support for filefield

[2018-12-12 19:04] nephew92 commented on #50
I have had the same problem.

[2019-01-10 09:48] abawchen commented on #57
@mtech2008
Would you give it a try on `0.1.19` or the updated master?
I fixed some error if the reference field is inherited from `EmbeddedDocument`, you can refer following test case to double-check.

https://github.com/graphql-python/graphene-mongo/blob/master/graphene_mongo/tests/models.py#L90

https://github.com/graphql-python/graphene-mongo/blob/master/graphene_mongo/tests/types.py#L136

http

[2019-01-10 09:52] abawchen commented on #50
Trying to figure out it, memo the reference first: https://github.com/graphql-python/graphene-sqlalchemy/issues/110

[2019-01-11 02:08] heron182 opened #62 "Support for MultipolygonField"
Hey guys, just came accross the need for a PolygonField representation.

I tried hacking my way into it by looking at #58 and it seemed very straightforward.

Could give it a shot and send PR if that's OK

[2019-01-11 06:47] xeor opened #63 "async (motorengine)"
I'm trying to get a stack of `Sanic`, `mongodb` and `graphql` to work. All async..
I can do mongo async using https://github.com/heynemann/motorengine, but then I have no way of using `graphene-mongo` as it wants a valid `Mongoengine Model`.

I can't find any issues on this in this repo, so I might be getting this wrong, but is there plans for supporting async? Or anyway I can hack it in using the

[2019-01-17 08:19] abawchen commented on #62
@heron182

Thanks for the feedback! 👍

I just refactored the way to resolve `PointField` into `type` and `coordinates` automatically, that we don't have to call `json.load` to parse `PointField`.

You can refer #64 for the detail -- it would be more complex than converting it into json string, but I think it would be more friendly for the usage.

[2019-01-17 12:32] xeor commented on #63
I think it might be usefull later down the line.. I can also see it not being prioritized at the moment, even tho it is a blocker for having the whole stack async..

Since I was in the early phase of development on this project, I ended up going for a stack of nodejs and mongoose and apollo instead :/

I just started my python async adventure tho.. So I have no idea where to start. And now that I

[2019-01-17 12:36] heron182 commented on #62
Great @abawchen , I'll send a PR as soon as I can :)

[2019-01-17 17:36] nephew92 opened #65 "InputObjectType fields from models"
I've used a `MongoengineObjectType` class to define the schema from model.
There's a way to use a reference model to define a `InputObjectType` or `AbstractType` class? Something like that:
[code]

[2019-01-25 07:56] #62 closed

[2019-02-01 15:08] tambeta opened #68 "Allow subclassing MongoengineObjectType"
Right now, extending `MongoengineObjectType` by subclassing is not possible in any useful way as `__init_subclass_with_meta__` is immediately called on encountering a descendant class definition. This makes several assumptions, e.g. `Meta.model` being defined on the subclass. Extension classes might want to deduce the model via _their_ subclasses and generally wouldn't know about it at the point o

[2019-02-04 22:46] zrlay commented on #68
Would following the MongoEngine API of `abstract` and `allow_inheritance` satisfy this?

[2019-02-06 16:36] tambeta opened #70 "GenericReferenceField support"
Hi, currently the field converter throws an exception on MongoEngine's `GenericReferenceField`:

[code]

It would be great to have support for this field type.

[2019-02-07 16:10] tambeta commented on #68
If you mean declaring abstract classes (meaning classes that are supposed to be subclassed - as this term isn't well defined in Python AFAIK) as

[code]

then yes, this would be a suitable API, especially since [Graphene](https://github.com/graphql-python/graphene/) also supports it.

[2019-02-08 14:45] tambeta commented on #68
OK, I was clearly confused earlier. For reference to others stumbling on this issue, `MongoengineObjectType` makes use of [`SubclassWithMeta`](https://github.com/graphql-python/graphene/blob/142f4a58d82635b03aec560322cc3d5f395e9910/graphene/utils/subclass_with_meta.py#L21) as it subclasses `ObjectType`, hence supports passing `abstract = True` in `Meta`. This prohibits the subclass hook from runni

[2019-02-08 14:45] #68 closed

[2019-02-11 05:10] sjakati98 commented on #57
I am experiencing the same error. Is there any way I can help. Would love to be able to use embedded documents in my schema.

[2019-02-11 08:45] abawchen commented on #57
@mtech2008 & @sjakati98

Maybe that's the cause -- currently, we have to define `LatLngType` as follows, only that graphene-mongo knows how to take care it -- it's won't be auto-registered at this moment.

Please let me know whether is works or not.

[code]

[2019-02-11 09:35] abawchen commented on #57
@gifteconomist

typo here? should be `MongoengineConnectionField(BriefNode)`

Following code works for me:

[code]

[2019-02-11 17:25] sjakati98 commented on #57
@abawchen I got my issue to work after "registering" my embedded documents within my schema.

[2019-02-12 00:34] #57 closed

[2019-02-12 07:28] abawchen commented on #70
@tambeta : Thanks for addressing this.

But it seems impossible to support GenericReferenceField ... Orz -- it's too dynamic that I don't know how to convert it to fit graphql's model,

And there is a way to do it, could you image how to write graphql query?

Any thought? @zrlay

[2019-02-13 20:21] tambeta commented on #70
It seems to me like `GenericReferenceField` with `choices` naturally maps to `graphene.Union` and would be queried via GraphQL using inline fragments. I'm not sure if a `Union` subclass could be constructed automatically by graphene-mongo or should be passed in - possibly both options might be supported.

A GRF _without_ choices is a schemaless structure and thus clashes with GraphQL philosophy of

[2019-02-13 21:52] zrlay commented on #70
This was my thought as well; as long as the set of choices is provided in the GenericReferenceField, and those choices each are found in the same registry, we should be able construct a Union that has Dynamic types.

Eventually I'd like to see generated interfaces from MongoEngine classes that are parents of multiple children found in the registry, too.

[2019-02-16 03:03] sjakati98 opened #73 "Problems When Using EmbeddedDocumentListField"
Python Version: `Python 3.7`

Error: `TypeError: '<' not supported between instances of 'ID' and 'ConfigurationSpec'`

Essentially, I have an embedded document modeled as such:

[code]
And then, I pull in the embedded document into a larger model. This larger model is built of embedded documents. The standalone embedded documents seem to work fine. When I use the field embedded document list field

[2019-02-16 22:24] sjakati98 commented on #73
@abawchen Do you have any suggestions?

[2019-02-18 03:17] abawchen commented on #73
@sjakati98 : Currently we only support `python 3.6`, since there are some major dependencies -- such as `mongoengin`, `graphene` -- do not support `3.7` either.

[2019-02-18 04:56] sjakati98 commented on #73
Makes sense. Thanks for the quick response.

[2019-02-18 04:56] #73 closed

[2019-02-20 09:22] abawchen commented on #59
@riverfr0zen : No, there is no any magic about `default_query` -- it just for convenience to copy-paste. :stuck_out_tongue_winking_eye:

[2019-02-20 09:22] #59 closed

[2019-03-26 03:56] enzolutions opened #75 "Cannot connect to Mongo: Error: You have not defined a default connection"
Hello Folks.

I tried graphene with SQLite and works like a charm, but now I am trying to use mongo DB using this project `graphql-python/graphene-mongo`.

What I did was install the following packages

[code]

And include the following configuration in my settings.py

[code]

Django connects perfectly because I can run migration and new collection was created in my new Mongo (empty) database usin

[2019-03-27 03:17] enzolutions commented on #75
I figure out the connection for Django Database is different than the connection for Graphene Database for`mongoengine`.

I added this to my settings.py and my queries start to work as expected, I how this helps someone else in the future.

[code]

[2019-03-27 03:17] #75 closed

[2019-03-27 07:24] abawchen commented on #75
@enzolutions

Thanks for input, and I am using the same stack (django, djongo, mongo) in my another project -- that I can integration with `graphene-mongo` now 😄

[2019-04-05 04:55] anilwarbhe opened #76 "Bug in version 0.2.0 all_posts = MongoengineConnectionField(Posts)"
After updating graphene-mongo from 0.18 to 0.2.0, I could not get "ListField(StringField())" types in query parameter. So I revert back to 0.18.
For example:

query{
  allPosts(here I can have all fields of posts collection except 'selectedtags' and 'postpics')
}

in post_model.py I have following
`class Posts(Document):
    meta = {'collection': 'posts'}
    categoryid = ReferenceField(Categories

[2019-04-09 02:55] abawchen commented on #76
@anilwarbhe : Thanks for the feedback :)

May I know your expectation about the query?
https://docs.mongodb.com/manual/tutorial/query-arrays/#match-an-array
There a 3 cases in the document:

A. The following example queries for all documents where the field tags value is an array with exactly two elements, "red" and "blank", in the specified order:
[code]

B. If, instead, you wish to find an array

[2019-04-13 10:24] fabiontop opened #77 "Polygon Field support"
Is there a support for the PolygonField? I only could find the MultiPolygon.

Thanks so much :)

[2019-04-15 01:53] #77 closed

[2019-04-15 01:56] abawchen commented on #77
@fabiontop : 0.2.1 or updated master supports PolygonField.

[2019-04-15 02:44] #76 closed

[2019-04-15 02:46] abawchen commented on #76
@anilwarbhe : I enable `contains` search in `0.2.2`, if you have any question or request, feel free to reopen it or create a new one.

[2019-04-16 09:15] anilwarbhe commented on #76
What I mean is in version 0.1.18 the following Query Works:
query{allPosts(cityid:"Q2l0eTo1YzU2Yjc5MTVkZmY5NjEzZDE2ZWQ3ZWQ=", selectedtags:"Women-Garment", first:300){edges{node{id, content, postpics, userid{id}, featured}} pageInfo { startCursor endCursor}}}

But When I update it to 0.2, Query throws an error. _**selectedtags:"Women-Garment"**_ is not allowed in the query.
query{allPosts(cityid:"

[2019-04-16 09:52] abawchen commented on #76
@anilwarbhe 👍
I think `0.2.2` can solve this issue, please give it a try.

[2019-04-16 10:24] anilwarbhe commented on #76
pip install --upgrade graphene-mongo==0.2.2 throws error

[2019-04-16 10:38] anilwarbhe commented on #76
Yes! Thanks a lot! Updated manually to the latest. Working now.

[2019-04-19 20:15] rhnux opened #81 "Filter like mongodb find"
Dear,

Is it possible to move the following find to a GraphQL query?

Example Mongodb: (Specifically **{ date_ar: { $regex: /23:55$/ }** )

´´´

{
        "_id" : ObjectId("5cb9388e87200745fba9d727"),
        "dm3rf" : "4240.02",
        "dm3pr" : "4945.75",
        "rdm3p" : "40.67",
        "unit" : "m3",
        "dm3" : "3813.85",
        "truckm" : "477",
        "date_ar" : "2019-04-18 23:55"

[2019-04-21 09:20] anilwarbhe opened #82 "How to achieve filtering?"
Hi,

It would be good if graphene mongo had support for filters. For example
`query {
  allPersons(filter: {
    age_gt: 18
  }) {
    firstName
    lastName
  }
}
`
Is there any other way to achieve this or fire a query like thin in graphene-mongo?

[2019-04-21 13:43] arunsureshkumar commented on #70
Hi @abawchen,
Thanks for helping with the support of GenericReferenceField, it is working fine with the code from the branch **feat-generic-reference-field**.

It would be great to have support for the field type ListField(GenericReferenceField()), looking forward to hear the possibilities from you.

[2019-04-22 03:14] #70 closed

[2019-04-22 03:17] abawchen commented on #70
@tambeta @zrlay : Thanks for you input, and it supports GenericReferenceField on updated master or `0.2.3`. Please give it a try and feedback if any issues.

@arunsureshkumar : Will take care it later :)

[2019-04-28 23:08] riverfr0zen commented on #82
I've been working on filtering stuff with graphene-mongo. It's very early work (wasn't planning to put it up till later), so full disclaimers, etc. etc. but  you can check it out here (python 3 only):

https://github.com/riverfr0zen/graphene-mongo-extras

Since there isn't much documentation yet, I also put up a repo with an example flask app that shows you how the queries might look:
https://gith

[2019-04-29 08:58] abawchen commented on #81
@rhnux : It's similar with #82, and @riverfr0zen provides https://github.com/riverfr0zen/graphene-mongo-extras to try to solve it.

[2019-04-29 10:58] rhnux commented on #81
@abawchen @riverfr0zen
thank you!

[2019-04-29 11:18] riverfr0zen commented on #81
Yeah, it doesn't have a regex operator per se, since that isn't a Mongoengine query operator (although it's a good idea for a future custom operator), but for your example above you should be able to use `contains` or `icontains`.

[2019-04-29 12:47] abawchen commented on #81
@riverfr0zen : Maybe I can try to create a PR in your repo :stuck_out_tongue:, I remember I used to take care regex query in pymongo.

Close this one.

[2019-04-29 12:47] #81 closed

[2019-04-29 12:53] riverfr0zen commented on #81
@abawchen Sure. I haven't set up Travis and stuff yet, but feel free. I don't mind making you a contributor too, if you like.

[2019-05-06 06:55] abawchen commented on #60
@mtech2008 : Ready in updated master or `0.2.4`

[2019-05-06 06:55] #60 closed

[2019-05-07 15:40] v0y opened #86 "Filtering nested document. Resolvers?"
I'd like to filter nested documents

models:

[code]

query:

[code]

but response is:

[code]

I'm trying to achieve filtering by resolvers:

[code]

**But I don't know, what type resolver should return**

Any help guys, pls?

[2019-05-08 08:01] abawchen commented on #50
@nephew92 @KimMatt : This feature is ready on updated master and `0.2.5`, and you can refer https://github.com/graphql-python/graphene-mongo/blob/master/graphene_mongo/tests/test_relay_query.py#L131 for usage.

Close this one, feel free to reopen it if any issues.

[2019-05-08 08:01] #50 closed

[2019-05-08 15:27] v0y commented on #86
nvm, `leads_by_internal = graphene.List(` fixed my problems

[2019-05-09 01:27] #86 closed

[2019-05-10 09:42] abawchen commented on #45
@illeatmyhat 👍
I have time to take care it now :bowtie:
Would you please provide your snippet code? Thanks.

[2019-05-10 16:50] illeatmyhat commented on #45
Unfortunately I've put GraphQL on the backburner since this issue and don't have the code.

[2019-05-12 11:14] anilwarbhe commented on #82
Hi Irfan,

Thank you so much for your wonderful graphene-mongo-extras. I was just playing with the code and found an issue. Would you please help me with it. I would be really thankful to you.

If I have a info of "Highscore" info=ListField(EmbeddedDocumentField(PlaythruInfo)) insted of info = EmbeddedDocumentField(PlaythruInfo) it thows "AttributeError: type object 'NoneType' has no attribute 'na

[2019-05-12 11:18] riverfr0zen commented on #82
@anilwarbhe I will respond to the issue you created on that repository when I get a chance.

[2019-05-14 07:37] abawchen commented on #45
@illeatmyhat : It supports relay query with DataLoader by #91, but not sure solves your error or not, and I think it needs to do some change of the backend implementation you work with.

Since you don't have the code that I can't investigate further 😟

[2019-05-14 07:40] abawchen commented on #82
@anilwarbhe @riverfr0zen : Close this one and let's move the discussion on https://github.com/riverfr0zen/graphene-mongo-extras later.

[2019-05-14 07:40] #82 closed

[2019-05-20 20:10] rhnux opened #92 "Time Query Last Register"
Dear,

I have the next question.

The following query with specific delay filter 118 **ms**

<img width="1150" alt="Screen Shot 2019-05-20 at 16 21 45" src="https://user-images.githubusercontent.com/26807888/58048245-afcb0a80-7b20-11e9-81ed-db995e096419.png">

And  this with "last: 1"  delay filter 9,1 **s**

<img width="1162" alt="Screen Shot 2019-05-20 at 16 21 01" src="https://user-images.githu

[2019-05-24 02:21] Cerebus opened #93 "[BUG] Document subclasses are cast to parent class in query results"
I know I'm missing something.  Given a model with multiple document types in a collection:
[code]
I can construct a schema and query:
[code]
If I run the `allA` query, I get back all the documents as expected, but I can't access `ASub`'s fields because the returned type is `A`, not `ASub`, even though the class is identified as `A.ASub`.  E.g.,:
[code]
Attempting to resolve `ASub.a_sub_field` resu

[2019-05-25 14:12] Cerebus commented on #93
Using the examples above, mongoengine  returns the subclass when fetching on the parent class, which is IMHO correct behavior:
[code]

However, `MongoengineConnectionField` descends from `graphene.Field`, which adopts the named class as the *only* possible type.  As a result, when the query is run returned results are being cast to  `MongoengineConnectionField._type`, which is the parent class in

[2019-05-28 18:27] RohitChattopadhyay opened #95 "Limit number of results"
How to implement something like `cursor.limit(number)` ( ref: https://docs.mongodb.com/manual/reference/method/cursor.limit/ )

OR How can I restrict the number of results? The main purpose is to create pagination.

My collection has 5million documents, and thus I require pagination set up via graphql.

[2019-05-29 06:48] abawchen commented on #95
@RohitChattopadhyay : You can try `first`, for example: https://github.com/graphql-python/graphene-mongo/blob/master/graphene_mongo/tests/test_relay_query.py#L285

[2019-06-04 03:15] #95 closed

[2019-06-12 01:14] abawchen commented on #93
@Cerebus
Regarding your Query class
[code]

should be
[code]

^ Make sense?

[2019-06-17 00:49] Cerebus commented on #93
Yes, but...if I add a new Document subclass,
[code]
I could use a union, but even that makes me unhappy since I still have to modify the Query class every time I extend the data model.  Further, it seems like it takes me away from Relay's interface, which I'd rather not do.

[2019-06-19 09:04] fabiontop opened #97 "Support for SequenceField"
Hello everybody,
we are using the SequenceField to create Invoice Numbers. Sadly there is no integration. I get the following error:
[code]

Is it possible to add the support? Thank you in advance :)

[2019-06-21 02:56] #97 closed

[2019-06-21 03:07] abawchen commented on #97
@fabiontop : Support in 0.2.7 and updated master.

[2019-08-06 07:49] fabianriewe opened #105 "graphene-mongo + graphene-federation"
# Hello!
I have created a working example with graphene-mongo and graphene-federation (https://github.com/erebus1/graphene-federation).
We are currently working with GraphQL + Mongoengine. We split up into Microservices, so Federation was the thing to do. After fiddling around for a day, I was able to create a working example with Mongoengine. I want to share it, just in case somebody needs it too

[2019-09-03 11:53] mpgalaxy opened #106 "Support for cursor based pagination"
Hi,

how can I use cursor based pagination (page=page, per_page=...) with your library ? I can't modify the mongo request using something like this:
[code]
because then I get `'QuerySet' object has no attribute 'find' `

Please provide information regarding this functionality or implement this feature.

[2019-09-03 13:25] svanburen commented on #106
try using `limit` with `skip`:

[code]

you'll want to calculate the skip based on the page number and page size, of course

[2019-09-04 08:30] mpgalaxy commented on #106
@svanburen : This is what I try to avoid. I want to use cursor based pagination with page and per_page params without the need of count(). I tried to use this library with pagination by flask_mongoengine, but it doesn't work. It inserts first:1 in the query which results in a `Not a query object` error:
[code]

[2019-09-04 15:39] svanburen commented on #106
It looks like in your case, you probably just want to omit the "query" parameter to `.objects`:

[code]

[2019-09-05 07:22] mpgalaxy commented on #106
@svanburen : This works, but how can I do a find() before limit ?
I need to be able to do a
[code]
How can I do this with this library ?

[2019-09-05 09:12] fabiontop opened #107 "Reference resolving for federation support"
Hello,
I am currently working on a project where I use the Apollo Federation Gateway and graphene-federation to connect multiple Microservices. For each external Type I need to add the following resolver to the type.
[code]
Couldn't we just add something like the following to the `MongoEngineObjectType`?
[code]

The only problem is that we need to resolve the reference by the Types key which isn't

[2019-09-05 12:55] svanburen commented on #106
@mpgalaxy perhaps something like this?:

[code]

for reference: http://docs.mongoengine.org/guide/querying.html#query-operators

also, I see that you're using '_id' - you may want to replace the `id__gte` above with whatever the primary key is defined in your UserModel (I put `id` above, but you'll want to replace that - so if it's user_id, do this:

[code]
)

hopefully that helps!

[2019-09-05 13:49] mpgalaxy commented on #106
Thank you very much! :) I will give it a try tomorrow.
Currently I implemented pagination via skip and limit, which is suitable for small datasets:
[code]
I have to make sure that the ids are sorted ascending. Currently the library returns them sorted ascending, but an option for that would be nice. ;) I'll report back on my results.

BTW: How can I send a 404 response with this lib ?
Throwing an

[2019-09-05 15:57] svanburen commented on #106
I don't have a great answer for you for flask / 404s; typically in GraphQL rather than setting a HTTP response code you'll populate the errors dict, and I'd imagine the flask mutations wouldn't be so far from the other examples.

For sorting, you can use `order_by` to sort:

[code]

good luck!

[2019-09-12 07:01] mpgalaxy commented on #106
Hi, thank you very much, you really helped me a lot. I think I can close this issue now. ;)

[2019-09-12 07:01] #106 closed

[2019-09-12 07:19] mpgalaxy opened #108 "update mutation on nested document fails"
Hi, I'm trying to update a nested document including an EmbeddedDocumentListField / EmbeddedDocument with graphene-mongo. Creating a new user via create mutation works perfectly fine, but when I try to update a nested document, it fails with the error
 `Invalid embedded document instance provided to an EmbeddedDocumentField: ['label'] `

Here is my code:
models.py:
[code]

app.py:
[code]

Trying t

[2019-09-18 08:49] mpgalaxy commented on #108
Maybe I didn't find the proper way to do this, but I think normally this library should handle update of nested fields apropriately. One dirty workaround is providing all label data in update values, recreating each item and appending it:

[code]
I'm not closing this issue, because it is not really solved. Maybe someone will provide another way or there will be an update to the library, handling t

[2019-09-24 09:00] abawchen commented on #105
@fabiontop : Would you mind if I put these in to document?

[2019-09-25 09:41] abawchen commented on #108
@mpgalaxy : After investigation, it's more like a MongoEngine limitation, and I found another way to update a document with EmbeddedDocumentField in your case:

[code]

^ Is this more elegant?

[2019-10-01 12:58] salehdeh76 opened #109 "Adding Examples for Starlette"
It would be nice to add some examples about integrating graphene_mongo with starlette to build awesome API libraries.

[2019-10-14 05:49] mtech2008 opened #110 "How to achieve Hashing/ Encrypting a password field?"
Hi,
How can I achieve Hashing/ Encrypting a password field?
How about having a HashField or MD5Field?

Regards

[2019-10-15 02:36] mtech2008 commented on #109
Example usage with FastApi as it is based Starlette would be great.

[2019-10-16 00:47] abawchen commented on #110
@mtech2008 : It's more like a question about mongoengine, not a graphql one, you can refer: https://stackoverflow.com/questions/27943258/save-password-as-salted-hash-in-mongodb-in-users-collection-using-python-bcrypt

make sense?

[2019-10-21 13:31] anilwarbhe opened #111 "orders = GenericEmbeddedDocumentField(choices=[(AOrders, BOrders)]) Throws conversion error"
orders = GenericEmbeddedDocumentField(choices=[(AOrders, BOrders)]) Throws conversion error

[2019-10-22 05:00] mtech2008 opened #112 "Please add support for GenericEmbeddedDocumentField"
Hi,
Please add support for GenericEmbeddedDocumentField, and GenericLazy..... fields

Regrads

[2019-11-11 10:56] fabiontop commented on #105
I don't mind. Feel free!

[2019-11-11 10:59] fabiontop opened #114 "Support for List of GenericReferenceFields"
Working with a simple GenericReferenceField works fine. But as mentioned in #70 support for a List of GenericReferenceFields would be great. Thank you in advance!

[2019-11-12 08:58] fabiontop commented on #114
I solved it by using a List of ReferenceField with self reference. I didn't notice that this was possible.

[2019-11-12 08:58] #114 closed

[2019-12-02 06:48] mtech2008 opened #115 "Query takes too much time (more than 5 minutes to retrieve first 10 documents)"
In "products" collection I have around 3000000 documents in a collection and I want to paginate it.
I am using the following query:

{
  allProducts(first:10){
    edges{
      node{
        brandname
      }
      cursor
    }
    pageInfo{
      hasPreviousPage
      hasNextPage
      startCursor
      endCursor
    }
  }
}
and it either fails or takes too much time to fetch the documents. Pleas

[2019-12-11 17:55] sVerentsov opened #117 "What is intended way to implement Union?"
Here is the schema that i am trying to implement:
[code]
and execute this query:
[code]

What I have tried:
1. _Mongoengine models_: make PostModel as separate Document, inherit TextModel and ImageModel from it and reference PostModel from UserModel.
_Graphene objects_: make types for Text, Image, User and Post as MongoengineObjectType.
(full code [here](https://github.com/graphql-python/graphene-

[2019-12-17 03:13] abawchen commented on #117
@sVerentsov : I will take a look, thanks.

[2019-12-17 13:50] sVerentsov commented on #117
I managed to solve this by explicitly stating `posts` field in `User`:
[code]

Full working code[here](https://github.com/graphql-python/graphene-mongo/files/3973553/works.py.txt)

It is quite suprising that graphene-mongo resolves `posts` as references of `ImageModel` and `TextModel` automatically

[2019-12-19 12:26] abawchen commented on #117
https://github.com/graphql-python/graphene-mongo/blob/33be6067a2c451428064d9e4338269dd50744715/graphene_mongo/tests/models.py#L61-L74

[code]

or you can use `GenericReferenceField` with `choices` to do it, but I have not verified `ListField(mongoengine.GenericReferenceField())` works or not.

[2020-01-06 21:52] claradaia opened #121 "TypeError: 'List' object is not callable"
Hello, guys

I updated `graphene-mongo` to `0.2.8` in my environment to make use of the new filters (#103), but I cannot for the life of me make it work with the other versions of packages I am using, namely
[code]

I've had to pin the packages to certain versions because of [this issue with graphene and flask](https://github.com/graphql-python/graphene/issues/1086) which I am not sure interferes

[2020-01-07 22:03] claradaia commented on #121
After some trial and error, I narrowed the problem down to the Node created from a Document structure that looks like this:

[code]

I find that if the list field within the embedded document ("`chee`") is **not required**, the error goes away.

I added some models and a test case that reproduces the error to #122.
I'd appreciate if someone could review it. I can also try to resolve the issue if y

[2020-01-08 20:44] claradaia commented on #121
Did some digging and the issue appears to be actually with `graphene`.

The `Field` class applies `NonNull` to the list type yielded by `mongoengine`, and the `type` that comes out has the `_of_type` attribute == `[String]` instead of `String`.

[code]

Will dig some more because it seems weird nobody else had encountered this problem.

[2020-01-09 14:14] claradaia commented on #121
Thinking about it, maybe it's supposed to be this way because of the `NonNull` class. Maybe the intended interpretation is that `type` becomes `NonNull`, which is `of_type [String]`.

If that is correct, then I believe method `MongoengineConnectionField._field_args` should address the NonNull List case. I will add that to the PR.

[2020-01-09 15:01] claradaia commented on #121
I updated #122 with the correction to `MongoengineConnectionField._field_args.get_type`.

Renamed the function to `get_filter_type` for clarity. Used recursion for abstraction, although I am not sure it is necessary.

[2020-01-18 14:51] #109 closed

[2020-01-27 14:41] claradaia commented on #121
Closing this because #122 was merged.

[2020-01-27 14:41] #121 closed

[2020-01-31 00:09] theoribeiro commented on #117
@abawchen Using `GenericReferenceField` with `choices` for me creates a Union but only recognizes one of the types, even though I have two declared. Have you ever had that problem?

[2020-02-03 08:20] #112 closed

[2020-02-03 11:39] abawchen commented on #111
@anilwarbhe : It should be fixed in 0.2.9 or updated master. Feel free to reopen it if any problems.

[2020-02-03 11:39] #111 closed

[2020-02-05 12:43] usmcamp0811 opened #125 "MongoengineConnectionField paging is SLOW!"
I just stood up a MongoDB and started using Graphene-Mongo to serve up the data but am finding `MongoengineConnectionField` queries to be very slow! They work but lets say I want to do:

[code]

That will take probably 5 minutes to execute. If I make my own resolver and just do something like:

[code]

It will be completed in milliseconds.

Did I miss something in the documentation? Or is this a k

[2020-02-11 16:06] 50040096 opened #127 "Proxy model"
Hello I am wondering how to implement a proxy model. I have the following classes:

[code]
----------------------------------

[code]
------------------------------
[code]

When I do the query there is this error showing up:

graphql.error.base.GraphQLError: Expected value of type "Contributor" but got: Contributor.

Do you have any suggestion how to solve it?

[2020-02-13 08:44] #127 closed

[2020-02-21 13:03] Gentatsu opened #129 "Filtering ReferenceFields returns incorrect results (MongoEngineConnectionField)"
If I run a query with an object that has a ReferenceField which should not return results, it does so anyway.

E.g. If I have 2 Slaves, with the first slave having 2 resources, and the second having 1 and run this:

[code]

It will return all 3 resources instead of the 2 attached to `Slave1`

[2020-02-24 23:07] abawchen commented on #65
@nephew92 : do you find a way to do it? if not, I will start to work on it recently.

[2020-02-24 23:40] nephew92 commented on #65
hello @abawchen, I couldn't find a way to do this with graphene. I had to assign the fields from the model to InputObjectType manually, but I made my own function (and not beautiful) for this.

[2020-02-25 08:09] sostholmwork commented on #115
I've also got this issue.

[2020-02-25 08:13] abawchen commented on #65
@nephew92 : could you share your implementation? I can learn from it and try if I can hook (and refactor) it into graphene-mongo, thanks.

[2020-02-27 03:43] abawchen commented on #107
@fabianriewe : thanks for late reply ..., it's okay to plug your idea to `MongoengineObjectType`, but before it, I have 2 quick questions need your feedback

- there is something like as below, does it not fit your case?
https://github.com/graphql-python/graphene-mongo/blob/9a894cc6aa49bfab064e7fb995e293b0048359e4/graphene_mongo/types.py#L209-L211

- second, it maybe not a `@classmethod` since we

[2020-02-27 09:03] abawchen commented on #93
@Cerebus : after doing some research, I found [this](https://stackoverflow.com/a/49737563/9041712) as the workaround(?) by adding field and it's resolve method, and yes, there is another effort (adding fields and resolve methods) though ... :(, but I think it's hard to know what fields child-model added automatically.

Please let me know if any thought, thanks.

[code]

[2020-02-27 09:06] abawchen commented on #45
@illeatmyhat : Close this one since it's stale, and maybe it has been addressed in #115 and #125. I will try to follow up these 2 items.

[2020-02-27 09:06] #45 closed

[2020-02-27 13:41] fabianriewe opened #131 "Support for CachedReferenceField."
Hello,
I am working on a new project where I am using a CachedReferenceField for pseudo-joins. Currently there is no support for this Field. Does anyone have any ideas on implementing this?

Thank you!

[2020-02-27 17:00] nephew92 commented on #65
I can't help with this, sorry. I'd implemented that for a company that I don't have collaboration anymore, also I don't have repo backups neither I remember the code details to how I resolved this problem.

[2020-02-27 17:50] lsmar commented on #114
Now it is possible to use List of GenericReferenceFields. Version 0.2.10 or above.

[2020-02-29 16:08] KingDarBoja opened #133 "Missing LICENSE as part of the sdist"
This python package lacks a License file as the other on graphql-python, making it difficult to be published on conda-forge, as this is a requirement for the pipeline to pass.

Also, would be great if there is some kind of changelog on the releases GH tab, as there isn't any CHANGELOG file on the repo.

I noticed the released version is currently at 0.2.10 but the GH releases is stuck at 0.2.7.

C

[2020-03-02 08:32] abawchen commented on #133
@KingDarBoja : I have added LICENSE in #134, please help check it.
And I will try to work on releasing notes or change log for the following releases.

[2020-03-02 08:32] #131 closed

[2020-03-02 08:34] abawchen commented on #115
Maybe related to #125, that I will use #125 to follow up, close this one.

[2020-03-02 08:34] #115 closed

[2020-03-02 23:07] KingDarBoja commented on #133
Just provide some review, you are missing the `MANIFEST.in` file. Please take a look at [graphql-core-next](https://github.com/graphql-python/graphql-core-next/blob/master/MANIFEST.in) as example. 😄

[2020-03-03 06:27] abawchen commented on #129
@Gentatsu : Do you mean `ListField(ReferenceField))`?

[2020-03-03 08:26] Gentatsu commented on #129
@abawchen Yep.

[2020-03-03 09:04] #129 closed

[2020-03-03 09:08] abawchen commented on #129
@Gentatsu : fixed in updated master and 0.2.11

[2020-03-03 10:47] alibaltschun opened #136 "cant get from global id -> is not a valid ObjectId, it must be a 12-byte input or a 24-character hex string"
hello, i do a query and return the id, after that i do mutation with that id.
but that id not match for objects.get(id=id)
this is my query

[code]
and return

[code]

but i cant do mutation with that id

[code]

and return

[code]
mongoengine : '0.19.1'
graphene-mongo :

thanks

[2020-03-03 22:59] #133 closed

[2020-03-04 13:19] kjstaring opened #137 "list of self-references"
Hello, it might not be a real issue, but more of a question, but
here, https://github.com/graphql-python/graphene-mongo/blob/cfd6b0d692ef35fb542e2f653ba33090efb4f617/graphene_mongo/types.py#L15, it is  it takes care of list of self-references, but I am not understanding why it is not working for me.

I have referenced the fields parents and children with manual references (a list of ids correspond

[2020-03-05 02:02] abawchen commented on #137
@kjstaring : I can't reproduce your error, since following 2 cases both work:

- Relay
[code]

- Non-relay
[code]

[2020-03-05 02:09] abawchen commented on #136
@alibaltschun : Would you please provide your implementation of mutation? say `UserUpdate`, thanks.

[2020-03-05 09:15] alibaltschun commented on #136
i do not solve this problem with this technique, but i already change my code with jwt, and search base on jwt. and its work.

[2020-03-05 09:15] #136 closed

[2020-03-05 11:55] kjstaring commented on #137
Thank you! Yes, I think that the problem is how we stored the references in the collection, namely as a string in the '_id' field. We solved it by resolving them manually.

[2020-03-06 00:24] abawchen commented on #137
@kjstaring : Thanks. I will close this one, and feel free to re-open it if any further issue.

[2020-03-06 00:24] #137 closed

[2020-03-19 06:05] zhangyuz opened #140 "How to sort data queried from mongo? help needed"
I am new to graphenee-mongo and working on a weekend project based on flask + graphene-mongo + flask-graphql. I need to sort the data queried from mongo, but I greped through the code , could not find any sorting api, can any one help?

[here is my projuect](https://github.com/zhangyuz/quantz_server), I need to sort index daily item by trade_date desc.

[2020-03-20 01:55] #140 closed

[2020-03-20 01:55] zhangyuz commented on #140
fixed after reading graphql official documents.

[2020-03-20 05:01] jawahar273 opened #142 "EmbeddedDocumentField list field has not been detected in GraphiQL"
Graphene monogo document say ListField is supported. But when i try to get data from monogo, the graphql throws error given below. This is snippet from my original code.

[code]

[code]

[2020-03-20 08:24] abawchen commented on #142
@jawahar273 : Would you please provide your query string as well? Thanks.

[2020-03-20 09:16] jawahar273 commented on #142
[code]

[2020-03-23 03:32] sostholm commented on #125
I've created a pull request that fixes this issue: https://github.com/sostholm/graphene-mongo/tree/fix-125-MongoengineConnectionField-paging-is-SLOW

[2020-03-23 07:26] abawchen commented on #125
@usmcamp0811 : Would you please try with the updated master? I have merged #143
@sostholm 👍

[2020-03-23 08:09] fabianriewe commented on #107
The `get_node` function would fit the usecase. But it's required to call it '__resolve_reference' due to the Apollo Federation spec (https://www.apollographql.com/docs/apollo-server/federation/implementing-services/#gatsby-focus-wrapper). And yes we need to remove the `@classmethod`.

[2020-03-23 22:54] abawchen commented on #107
@fabianriewe : I have added it on branch `feat-add-resolve_reference`, would you please verify it fits your need or not? Thanks.

[2020-03-24 01:30] abawchen commented on #92
@rhnux : it seems related to #125, and has been fixed on the updated master. Feel free to reopen it if any question.

[2020-03-24 01:30] #92 closed

[2020-03-24 04:10] rhnux commented on #92
@abawchen  Ok. Thank you very much!

[2020-03-27 10:18] IdrisMiles commented on #125
Was also experiencing this issue, the changes in master did the trick for me, thanks!

[2020-03-28 10:06] #142 closed

[2020-04-06 02:27] #125 closed

[2020-04-09 08:33] abhaybhargav opened #145 "Resolver for MongoengineConnectionField - Add Authorization Token"
Hi

I have been using graphene-mongo for a while now. I use all resolvers and mutations post validation of an Access token in the HTTP `Authorization` header. However, I am not aware of how I can do that for a `MongoengineCollectionField`

For example, I have defined it as follows
[code]

and it works functionally as expected

My question is, what does this object return? and is there a way I can

[2020-04-09 18:33] bhavishyasharma commented on #110
Can be done easily using crypt

Mutation Class

[code]

Model Class
[code]

[2020-05-27 08:18] Gentatsu opened #146 "Filtering by id for MongoengineConnectionField returns edge with null"
When I try to filter by id using `MongoengineConnectionField`, using this query:

[code]

[2020-05-27 10:09] DonQueso89 commented on #146
can you show your type class and resolver?

[2020-05-27 10:15] Gentatsu commented on #146
[code]
[code]

[code]

[code]

[2020-05-27 12:10] DonQueso89 commented on #146
you should either
1) define `get_node_from_global_id` as mentioned here https://docs.graphene-python.org/en/latest/relay/nodes/#custom-nodes
or
2) implement a resolver for your field on the parent object that takes into account the id filter

Not sure if this belongs in the issues sections of this repo

[2020-05-27 13:45] Gentatsu commented on #146
A custom resolver defeats the purpose of the `MongoengineConnectionField`. I like being able to expose the model and filter on any item without explicitly defining them in resolver.

The `get_node_from_global_id` was the kicker. It's not very well defined in that example as it forces me to define the type. With a bit of cheeky debugging, I found a way to resolve generic types:

[code]

Hope this h

[2020-05-27 13:50] DonQueso89 commented on #146
yeah having a generic `get_node_from_global_id` is simple as long as you are doing a plain get, once you get into embedded documents and nesting thats where it becomes harder

[2020-05-27 14:03] Gentatsu commented on #146
I've got both in mine actually! You're very correct! I tried filtering ids on an embedded document w/ a different field name.

I've modified it to this to work generically:

[code]

Tested on embedded field + list of reference fields and seems to work.

[2020-05-27 16:18] DonQueso89 commented on #146
how does this work on EmbeddedDocuments when they dont have an objects property?

[2020-06-04 17:13] claradaia opened #148 "Filter by id causes other filters to be ignored"
Hello, I find that if I make a query with a filter by `id`, other filters are ignored. For example, in the following query:

[code]
I expected **an empty list**, because the filters should "cancel", but it actually retrieves the "Larry" player.

I created [a PR](https://github.com/graphql-python/graphene-mongo/pull/149) with a test case that reproduces this -- only in relay, but I can check if it

[2020-06-06 03:47] squarewave24 commented on #105
i have a similar solution. queries work very well, even with joins across different endpoints. however i can't get mutations to work. when i hit my graphene_federation endpoint, all mutations work, but when i go to apollo server graphql playground none of the mutations show up / work :(
if i simply put a valid mutation query in, i get "schema is not configured for mutations" error. maybe you came

[2020-06-06 09:13] Gentatsu commented on #146
You're right. This does not work on filtering EmbeddedDocuents. I needed to look at the last several records of an EmbeddedDocument, and it kept complaining about not having a `pk` property. I tried adding in a primary key w/ initialisating an `ObjectId`, setting `primary_key, unique, required` to `True`  but to no avail.

I've tried it with both `EmbeddedListField` and `ListField(EmbeddedDocument

[2020-06-06 12:07] DonQueso89 commented on #146
This is because graphene_mongo expects the pk property to be present on your models (for some reason), in our codebase, if your embedded document has a natural/surrogate key, then you can add an alias called `pk` on your EmbeddedDocument subclass for this key as a workaround:

`@property
def pk(self):
    return self.id
`
replacing `id` with the name of the attr you want to use

[2020-06-12 00:06] Ahmedn1 opened #151 "MongoEngineConversionError: Don't know how to convert the MongoEngine field <class 'mongoengine.fields.StringField'> (<class 'type'>)"
When I have a list field like this:
`some_field = graphene.List(graphene.String)`
Then I build a `MongoEngineObjectType` for it:
[code]

I get this error because this method `convert_field_to_list` calls this method `convert_mongoengine_field` which always raises the exception.

[2020-06-25 18:17] claradaia commented on #148
Ok, so I checked the commit history and apparently [this commit](https://github.com/graphql-python/graphene-mongo/commit/45ec6b9227f4294c1212f627a58cdbc35d7974c6#diff-4f96d308fd887c743f7f525af6a6a8b3R145) introduces this new "if" that uses `get_node_from_global_id` and returns the node if `id` is present in the filters. I believe this excerpt:

[code]

should be changed to

[code]

Thoughts?

[2020-06-26 14:45] claradaia commented on #148
I updated the PR with something similar, please let me know if there's a better way to do it.

[2020-06-30 09:25] abawchen commented on #148
@claradaia : Thanks for the PR, and it looks good to me. Merged.

[2020-06-30 09:25] #148 closed

[2020-08-27 21:21] david2003542 commented on #73
Hi @abawchen I saw the comments above. Currently, I am using python3.6 but I always got following error in graphql server
`Cannot query field \"funds\" on type \"ClientFundsType\"."`

[2020-08-29 09:46] david2003542 opened #152 "Problem s"

[2020-09-02 01:57] abawchen commented on #152
@david2003542
You have to declare `ScenarioType` as follows before `ViewType`
[code]

[2020-09-02 20:59] jul-grnx opened #153 "Private fields and `db_field` arg’"
Hello,

I’m playing with private fields with MongoEngine and Graphene-Mongo like this:
[code]

And… the generated `MyType` has a field named `Private` (not `private`).

That make me ask 2 questions:
* It seems the conversion snake_case to camelCase does not make any special case for leading underscore: is it normal?
* Why not consider the database field when different?

I found the following worka

[2020-09-28 15:33] fhennig opened #154 "Graphene v3 compatibility"
Graphene v3 is still in beta, but pretty stable now (https://github.com/graphql-python/graphene/wiki/v3-release-notes#graphene-schema-no-longer-subclasses-graphqlschema-type), it would be great if graphene-mongo could be made compatible.

Only the `graphene` package has to be updated. I ran the tests in the repo locally with graphene v3.0b5 and 27/91 tests failed.

[2020-10-23 12:16] AyluinReymaer commented on #146
Hello, is there any progress or suggestions in how to filter EmbeddedDocuments?

I have been trying for a while now and I've stumbled upon this open issue for the same thing.

[2020-10-23 13:09] AyluinReymaer commented on #146
I have changed a few lines in the `fields.py` file like so:

[code]

Right now, it works and have not ran into any issues while doing a few tests.

[2020-10-29 16:13] miguescri commented on #151
I encountered a problem that resulted in the `MongoEngineConversionError` and when googling this was the only issue/post I found, so I'll add some clarifications for future reference.

The `graphene_mongo.converter.convert_mongoengine_field` function is generic; it is decorated with [`functools.singledispatch`](https://docs.python.org/3/library/functools.html#functools.singledispatch) and all the

[2020-10-30 06:00] abawchen commented on #151
@miguescri : Thanks for your explanation
@Ahmedn1 : Does it answer your question? i.e `the Meta.model attribute in a MongoengineObjectType needs to inherit from mongoengine.Document`

[2020-11-04 15:45] BenoitToulet commented on #65
Hello, I just published on a fork, a simple implementation allowing interface and input graphene objects creation based on graphene_mongo....
https://github.com/BenoitToulet/graphene-mongo/tree/feat-support-inputs-and-interfaces

[2020-11-06 02:48] BeauGieskens opened #162 "Forced to use relay pagination on list of embedded documents?"
Suppose I have this document structure:

[code]

Then I define my MongoengineObjectTypes:

[code]

Then I build my schema:

[code]

This spits out an unfriendly error:

[code]

But if I add `interfaces = (Node,)` to the meta of `Person` the error goes away. However, I am also now forced to paginate through data which I know will also be only a small collection.

[2020-11-21 00:53] JMSwag commented on #145
@abhaybhargav Not sure if the following is the official way to solve this issue but it's working for me.

[code]

[2020-12-15 09:20] fantasylw commented on #108
I ran into the same problem.
When using EmbeddedDocument, GraphQL cannot display and use ListField fields.

[2020-12-16 02:00] fantasylw commented on #108
Hi, I solved this problem.
## Solution:
### Create the class in the schema.py file:
from graphene_mongo import MongoengineConnectionField, MongoengineObjectType
from graphene.relay import Node
from models import StepsNode

class Steps(MongoengineObjectType):
    class Meta:
        model = StepsNode
        interfaces = (Node,)

### models.py

class StepsNode(EmbeddedDocument):
    name = StringFi

[2021-01-09 04:05] abawchen commented on #108
close this one, and feel free to reopen it if needed.

[2021-01-09 04:05] #108 closed

[2021-01-12 14:28] #151 closed

[2021-01-28 23:13] wsidl commented on #86
Do you have more detail on how this was resolved? I've been struggling with something very similar and tried your solution here with little success.

I've outline the whole issue here: https://stackoverflow.com/questions/65692394/filter-embedded-document-list-in-graphql

I've also tried to update by creating the custom resolver with still no luck

[code]

I supply the preferred query from my origi

[2021-02-08 22:00] floydspace commented on #136
I would like it to be reopened because the issue still occurs.
The issue here is that when you try to save global id as a foreign key, it fails with `is not a valid ObjectId, it must be a 12-byte input or a 24-character hex string`, because it expects to see mongo ObjectId hex string
Can the objectId be somehow recognized automatically? or can we somehow use ObjectId hex as a global identifier ins

[2021-02-23 09:17] dscso commented on #82
Hello, I have had the same issue and I solved it by creating a filter class like this:
models.py
[code]
And the schema
[code]
To define what field should be querried like what you have to name the fields in the ProductFilter class according to your needs (http://docs.mongoengine.org/guide/querying.html)
Maybe a bit late I know but maybe it helps someone

[2021-03-02 08:10] mahdifarhang opened #168 "Need of validating Mutation input data using a Form (Based on Mongoengine Document)"
I'm Trying to write a mutation for my model and The problem is how to validate the data that comes from the user.
In Django, which has forms (and modelForms) that you can create dynamically based on a model you have described, this problem is handled beautifully using [DjangoFormMutation](https://github.com/graphql-python/graphene-django/blob/6046a710c887bf45a9480a162e20038ab5c95623/graphene_djang

[2021-03-07 17:24] jkuball opened #170 "Most versions in the pypi are wrongfully uploaded"
It's a little bit strange to have to report this, but it seems like all released versions on the pypi are wrong. The source code attached to the Github Releases seems to be wrong also.

The only way to install a new version of this library reliably is to use pips vsc support to install from a specific commit sha.

This has probably something to do with the never changing variable of `graphene_mong

[2021-03-12 05:40] abawchen commented on #170
@jkuball : thanks for addressing this issue, I will submit the latest version later.

[2021-03-19 10:33] v0y commented on #86
@wsidl it has been a while, all I can do for you is to share my working code, hth

[code]

[2021-03-19 17:24] wsidl commented on #86
Thanks @v0y , I'll investigate this solution. Was hoping for something that could replicate the support that we see in other platforms.

[2021-04-01 00:12] bansalnaman15 opened #174 "Getting conversion error"
This is what I am getting, Please Help.!
Thanks

[2021-05-18 08:07] abawchen commented on #65
close due to stale, feel free to re-open it.

[2021-05-18 08:07] #65 closed

[2021-05-18 08:07] abawchen commented on #93
close due to stale, feel free to re-open it.

[2021-05-18 08:07] #93 closed

[2021-06-07 21:24] rish-ablacon commented on #170
@abawchen When is the next release planned and would it  add support of EnumField?

[2021-06-07 21:26] dhulmul commented on #170
@abawchen When is the next release planned and would it add support of EnumField?

[2021-06-10 22:32] bm13kk opened #179 "How do embeded documents without `id`?"
i've spend a week already to find some solution for this.

i have next mongo models:

[code]

Graphene nodes:
[code]

And graphene query
[code]

Outer entity working fine, as expected, no problems.

But inner entity has only `id` field (which is not exists in first place)
And no other fields.

Output in docs. Query -> Outer (edges, node) -> inner (type: InnerGraph)
[code]

Any ideas, how to make t

[2021-07-12 03:54] harsh04 opened #180 "Switch Mongoengine DB at run time"
I have a requirement where each client's data is stored in a different DB. The schema is the same for all clients in this case. So I need to switch_db while the query is being processed.
Is there any way to configure graphQL to select DB to be used?

[2021-10-07 17:09] pporcher opened #182 "Can't query EmbeddedDocumentListField with parameters"
EmbeddedDocumentListField can't be queried with parameters.

Running the example at https://github.com/graphql-python/graphene-mongo/tree/master/examples/flask_mongoengine
and replacing the query with
[code]
we get the errors
[code]
How to solve this ?

[2021-12-29 04:39] bemineni opened #183 "Error : Don't know how to convert the MongoEngine field <mongoengine.fields.EnumField"
This is already fixed. May I know when we are getting the new release ?

[2021-12-31 01:58] blochs commented on #170
Did this ever get solved? I feel like I’m missing some great stuff without version updates

[2022-01-14 09:00] abawchen commented on #170
it's a bit late -- I have tag a new version 0.2.14 align with master code. Feel free to ping me or re-open it if necessary.

[2022-01-14 09:00] #170 closed

[2022-01-17 12:29] fabianriewe commented on #107
Hey! I looked deeper into this function and found out that we can improve it by using the following:
[code]
By using this the query is much more generic and doesn't rely on an `key("id")`

[2022-01-17 20:12] Lwackp commented on #154
@arunsureshkumar why was the graphene dependency pinned to beta release`3.0b7` in https://github.com/graphql-python/graphene-mongo/pull/172 ? Graphene 3.0.0 was released on Nov 13, 2021

[2022-01-17 21:43] Lwackp commented on #154
I've created https://github.com/graphql-python/graphene-mongo/pull/186 to address this

[2022-01-18 15:05] blochs opened #187 "Incorrect Dev Graphene Version"
The graphene version should be 3.0.0b7 not 3.0b7, this is found in requirements.txt

https://github.com/graphql-python/graphene/releases/tag/v3.0.0b7

[2022-01-24 13:06] fabianriewe opened #189 "`graphql_relay` dependency error"
Using `graphql-relay==3.1.4` and `graphene-mongo==0.2.14` creates an error due to a rename of `graphql_relay.connection.arrayconnection` to `graphql_relay.connection.array_connection`. There are two imports which need to be updated.

[2022-02-06 18:02] vkresch opened #190 "How to filter a query by a list of ids in GraphQL using graphene-mongo?"
Basically I have the same question like in this [SO question](https://stackoverflow.com/questions/54218505/how-to-filter-a-query-by-a-list-of-ids-in-graphql-using-graphene-django) but for graphene_mongo?
Is it possible? This [issue](https://github.com/graphql-python/graphene-mongo/issues/82) might be related.

In the answer one way is to set the `filterset_class` with a custom class `SampleFilter`

[2022-02-06 19:59] vkresch commented on #190
Closing since [solution](https://github.com/graphql-python/graphene-mongo/issues/82#issuecomment-784027110) from @dscso solved my problem. Big thanks!

I defined a custom filter:
[code]
which I then passed to the Query class (note I use `graphene_mongo.MongoengineConnectionField` here instead of `graphene.Field`):

[code]
 and now I can filter with this query:
[code]

[2022-02-06 19:59] #190 closed

[2022-02-06 20:00] vkresch commented on #82
@dscso big thank you for posting your solution!

[2022-02-07 07:15] RoyalGoose commented on #189
i have same error, did you fix it?

[2022-02-07 15:38] dimon222 commented on #187
Pls get this fixed, dependency resolves are not happy with this typo.

[2022-02-07 16:09] blochs commented on #189
https://github.com/graphql-python/graphene-mongo/pull/191

[2022-03-11 09:42] dscso commented on #190
Actually I now stopped using graphene Mongo because its too much boilerplate. I use [Ariadne](https://ariadnegraphql.org/) now. Its easier for my usecase... I just recommend taking a look :)

[2022-03-19 15:19] xiangxn opened #193 "Don't know how to convert the MongoEngine field <mongoengine.fields.BinaryField"
Can this field be supported?

[2022-03-20 03:43] xiangxn opened #194 "Can I use 'MongoengineConnectionField' without 'edges'?"
current:
`users {
    edges {
      node {
        id
      }
    }
}`

What I want is:
`
users {
        id
}`

[2022-04-18 21:06] leonardwellthy commented on #151
I managed to reproduce this problem with the exact same error message, but a different root cause. So for future Googlers, here's my example:
[code]

and the problem is that [a Mongoengine ListField takes another field _**object**_ as its parameter](https://docs.mongoengine.org/guide/defining-documents.html#list-fields), not a field **_class_**. Which is exactly what the error message is saying, I

[2022-04-25 22:27] leonardwellthy opened #197 "graphene-mongo not compatible with pymongo 4.0 or above"
### Error message

Running the tutorial example at https://graphene-mongo.readthedocs.io/en/latest/tutorial.html returns the following error
[code]

### Underlying cause

`pymongo.cursor.Cursor.count()` was deprecated in pymongo 3.7.0 and removed in pymongo 4.0. See [the pymongo changelogs](https://pymongo.readthedocs.io/en/stable/changelog.html)

### Solution

The following line in [fields.py](ht

[2022-04-25 23:06] leonardwellthy opened #198 "graphene-mongo not compatible with graphql-server due to GraphQLResolveInfo.context handling"
### Error description

Running the tutorial application at https://graphene-mongo.readthedocs.io/en/latest/tutorial.html with `graphql-server[flask]` instead of `Flask-GraphQL` installed results in the following error being returned
[code]

### Underlying Cause

graphql-server passes its `GraphQLResolveInfo.context` as a `dict` rather than an object with attribute getters and setters, which leads

[2022-04-29 19:57] krawalli commented on #197
yes, its working when line is changed to:
[code]

[2022-06-28 16:36] sekhar14 commented on #109
Are there any examples available for Starlette.

[2022-07-29 12:49] blochs opened #199 "Is Project Dead"
There's been no movement from maintainers or a release in >6 months and it was faulty and not patched, is this project dead?

cc @abawchen

[2022-08-16 01:02] abawchen commented on #199
@blochs : it's a good question xD

I start this as a side project that I don't actually use it in my job, and I have limit resource (time) to maintain it anymore.
So you can say it's dying, and I would more than happy if someone can take it as an owner/maintainer, or fork it to keep it compatible with the latest graphql version.

[2022-08-19 08:26] erikwrede commented on #199
This isn't a project I'm maintaining but I'd strongly advise against forking, since most  users won't see the new fork.

[2022-08-19 12:24] blochs commented on #199
@abawchen I can see if the company I work for is interested in taking over as a maintenance group...we use it heavily so it might make sense.

[2022-08-19 12:26] blochs commented on #199
@abawchen Can you at least take a look at the open PR's, see if we can merge those along?

[2022-08-19 13:05] erikwrede commented on #199
@blochs If you get an okay from company, I think we can definitely look into hooking you up with the necessary roles.
Final word is of course @abawchen's as he is the project maintainer here.
I'm mainly taking care of `graphene` and `-sqlalchemy`, but it's beneficial for the health of the graphene ecosystem if we try to keep the plugin-libraries actively maintained, so I want to assist where I can

[2022-08-22 13:30] blochs commented on #199
@erikwrede @abawchen We have approval, please let me know next steps, or if you'd like to proceed with DM's/e-mails.

[2022-08-23 11:54] erikwrede commented on #199
Sounds great! Let's wait & hear what @abawchen has to say 🙂

[2022-09-07 13:27] blochs commented on #199
@abawchen Any updates here? Love to get this transition going.

[2022-09-08 08:13] abawchen commented on #199
@erikwrede @blochs : I am more than happy there is someone can make this project alive, so maybe @erikwrede can help grant more access to @blochs

[2022-09-08 08:44] erikwrede commented on #199
Thanks @abawchen, great to get this started!
@blochs please contact me on Slack so we can figure out next steps & who to invite to the project!
https://join.slack.com/t/graphenetools/shared_invite/enQtOTE2MDQ1NTg4MDM1LTA4Nzk0MGU0NGEwNzUxZGNjNDQ4ZjAwNDJjMjY0OGE1ZDgxZTg4YjM2ZTc4MjE2ZTAzZjE2ZThhZTQzZTkyMmM

[2022-09-08 18:41] #199 closed

[2022-09-20 00:56] #197 closed

[2022-09-20 00:57] #189 closed